body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #feedback {
    margin-top: 20px;
    text-align: center;
  }
  
  #report {
    margin-top: 20px;
    text-align: center;
  }
  
  canvas {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .choice {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #261477;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .choice:hover {
    background-color: #050101;
  }
  
  .correct {
    background-color: #70db70;
  }
  
  .wrong {
    background-color: #ff7f7f;
  }
  